server:
  ip: localhost
  port: 9090
  tomcat:
    max-http-form-post-size: -1


spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/onlinejudge?serverTimezone=GMT%2b8
#    url: jdbc:mysql://38.54.56.234:3306/onlinejudge?serverTimezone=GMT%2b8
    username: root
    password:
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  servlet:
    multipart:
      max-file-size: 1000MB
      max-request-size: 1000MB

mybatis:
  mapper-locations: classpath:mapper/*.xml # 扫描所有mybatis的xml文件
#  configuration:
#    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl # 打印sql语句

mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl # 打印sql语句
  global-config:
    db-config:
      id-type: auto

files:
  upload:
    path: D:\毕设\demo\files\
#    path: /www/wwwroot/shuimujiabei.xyz/files