.ml-5 {
    margin-left: 5px;
}
.mr-5 {
    margin-right: 5px;
}
.mrl-5{
    margin: 0px 5px;
}

.ml-10 {
    margin-left: 10px;
}
.mr-10 {
    margin-right: 10px;
}
.mrl-10{
    margin: 0px 10px;
}

.pd-10 {
    padding: 10px 0;
}
