package ${package.Controller};

import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import org.springframework.web.bind.annotation.*;
import javax.annotation.Resource;
import java.util.List;

import $!{package.Service}.$!{table.serviceName};
import ${package.Entity}.${entity};

#if(${restControllerStyle})
import org.springframework.web.bind.annotation.RestController;
#else
import org.springframework.stereotype.Controller;
#end
#if(${superControllerClassPackage})
import ${superControllerClassPackage};
#end

/**
 * <p>
 * $!{table.comment} 前端控制器
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${restControllerStyle})
@RestController
#else
@Controller
#end
@RequestMapping("#if(${package.ModuleName})/${package.ModuleName}#end/#if(${controllerMappingHyphenStyle})${controllerMappingHyphen}#else${table.entityPath}#end")
#if(${kotlin})
class ${table.controllerName}#if(${superControllerClass}) : ${superControllerClass}()#end

#else
#if(${superControllerClass})
public class ${table.controllerName} extends ${superControllerClass} {
#else
public class ${table.controllerName} {
#end

        @Resource
        private ${table.serviceName} ${table.entityPath}Service;


        // 新增或者更新
        @PostMapping
        public Boolean save(@RequestBody ${entity} ${table.entityPath}) {
                return ${table.entityPath}Service.saveOrUpdate(${table.entityPath});
        }

        // 根据id删除
        @DeleteMapping("/{id}")
        public Boolean delete(@PathVariable Integer id) {
                return ${table.entityPath}Service.removeById(id);
        }

        // 以id来删除多条数据     数据是 [1, 2, 3] 这样的
        @PostMapping("/del/batch")
        public Boolean deleteBatch(@RequestBody List<Integer> list) {
                return ${table.entityPath}Service.removeByIds(list);
        }

        // 获取所有数据
        @GetMapping
        public List<${entity}> findAll() {
                return ${table.entityPath}Service.list();
        }

        // 根据id查询数据
        @GetMapping("/{id}")
        public ${entity} findOne(@PathVariable Integer id) {
                return ${table.entityPath}Service.getById(id);
        }

        // 分页查询
        // limit第一个参数 = (pageNum - 1) * pageSize
        @GetMapping("/page")
        public Page<${entity}> findPage(@RequestParam Integer pageNum,
                                        @RequestParam Integer pageSize,
                                        @RequestParam Boolean desc) {
                QueryWrapper<${entity}> queryWrapper = new QueryWrapper<>();
                if(desc) queryWrapper.orderByDesc("id"); // 是否根据id排序

                return ${table.entityPath}Service.page(new Page<>(pageNum, pageSize));
        }

}

#end