<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserRoleMapper">
    <select id="findPage" resultType="com.example.demo.entity.UserRole">
        select sys_user_role.*, sys_role.role_key as role from sys_user_role
        left join sys_role
        on sys_user_role.role_id = sys_role.id
        <where>
            <if test="userUsername != null and userUsername != ''">
                and user_username like concat('%', #{userUsername}, '%')
            </if>
            <if test="userRealname != null and userRealname != ''">
                and user_realname like concat('%', #{userRealname}, '%')
            </if>
            <if test="roleId != null and roleId != ''">
                and role_id like ${roleId}
            </if>
        </where>
        ORDER BY id ${desc}
    </select>

</mapper>
